.reveal section .noborder {
  border: 0px none;
  box-shadow: none;
  background: rgba(255, 255, 255, 0);
}

.reveal section li{
  text-align: justify;
  text-justify: inter-word;
}
.reveal div .lefthalf{
  width:50%;margin-right:0.5em;
  max-width: 50%;
}
.reveal div .righthalf{
  width:50%;margin-left:0.5em;
}
.righthalf img{
  text-align: center;
}
.aligned {
  text-align: justify;
  text-justify: inter-word;
}
